Repository Sitecore/Cloud-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier -w

Update copyright year and owner in LICENSE.md (#15)
  LICENSE.md
Due: prettier -w

chore: review changes
  packages/core/src/internal.ts
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

feat: renamed cookie (#16)
  packages/core/src/internal.ts
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.5.6-rc.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.5.6 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix: updated personalize cookie name
  examples/nextjs/components/Cloudsdk.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: updated personalize cookie name (#19)
  examples/nextjs/components/Cloudsdk.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.5.7-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.5.7 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix: reverted cookie rename
  packages/core/src/internal.ts
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: reverted cookie rename (#22)
  packages/core/src/internal.ts
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.5.8 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix: rename cookie on core package
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: renamed cookie for personalize
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: renamed it to cid
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
Due: prettier --write

fix: fixed unit test
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
Due: prettier --write

fix: rename cookie name (#24)
  packages/core/src/lib/consts.ts
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.6.0-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix: fixed relative imports on personalize
  packages/core/src/internal.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: fixed relative imports on personalize (#26)
  packages/core/src/internal.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.6.0-rc.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.6.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat: keep legacy cookie values on browser
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/createPersonalizeCookie.spec.ts
  packages/personalize/src/lib/initializer/browser/createPersonalizeCookie.ts
Due: prettier --write

feat: added legacy migration for server side cookie on core
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

fix: remove legacy cookie on middleware
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

feat: use legacy value for personalize server cookies
  packages/personalize/src/lib/initializer/server/handleHttpCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleHttpCookie.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.ts
Due: prettier --write

feat: remember legacy value (#30)
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/initializer/browser/createPersonalizeCookie.spec.ts
  packages/personalize/src/lib/initializer/browser/createPersonalizeCookie.ts
  packages/personalize/src/lib/initializer/server/handleHttpCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleHttpCookie.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.6.1-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.6.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

ci: updated jira action
  .github/workflows/create-jira-issue.yml
Due: none

Disable issue and discussion event triggers
  .github/workflows/create-jira-issue.yml
Due: none

Delete create-jira-issue workflow
  .github/workflows/create-jira-issue.yml
Due: none

fix: added permissions on jira action
  .github/workflows/create-jira-issue.yml
Due: none

Delete .github/workflows/create-jira-issue.yml
  .github/workflows/create-jira-issue.yml
Due: none

ci: fixed pr and release action
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: fixed pr and release action (#39)
  .github/workflows/pr.yml
  .github/workflows/release.yml
Due: none

ci: update installation action
  .github/workflows/installation-test-suite.yml
Due: none

ci: remove comments from action
  .github/workflows/installation-test-suite.yml
Due: none

ci: update installation action (#40)
  .github/workflows/installation-test-suite.yml
Due: none

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
