Repository Sitecore/Cloud-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier -w

.lintstagedrc.json:

{
  "**/*.{js,jsx,ts,tsx}": ["prettier --write"],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -w"]
}

chore: bumping package.json to new version: v.0.4.4 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

refactor(personalize): CDK-597 Remove old initialization in Personalize package (#360)
  packages/personalize/src/browser.ts
  packages/personalize/src/lib/init/client/initializer.spec.ts
  packages/personalize/src/lib/init/client/initializer.ts
  packages/personalize/src/lib/init/server/initializer.spec.ts
  packages/personalize/src/lib/init/server/initializer.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/personalization/personalize.spec.ts
  packages/personalize/src/lib/personalization/personalize.ts
  packages/personalize/src/server.ts
Due: prettier --write

feat(personalize): CDK-571 integrate personalize with examples demo (#356)
  examples/nextjs/app/page.tsx
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/components/PersonalizeBanner.tsx
  examples/nextjs/next.config.js
Due: prettier --write

feat(events): CDK-598-remove-old-initialization-in-events-package (#362)
  packages/events/src/browser.ts
  packages/events/src/lib/consts.ts
  packages/events/src/lib/eventStorage/addToEventQueue.spec.ts
  packages/events/src/lib/eventStorage/addToEventQueue.ts
  packages/events/src/lib/eventStorage/clearEventQueue.spec.ts
  packages/events/src/lib/eventStorage/clearEventQueue.ts
  packages/events/src/lib/eventStorage/processEventQueue.spec.ts
  packages/events/src/lib/eventStorage/processEventQueue.ts
  packages/events/src/lib/events/custom-event/event.spec.ts
  packages/events/src/lib/events/custom-event/event.ts
  packages/events/src/lib/events/custom-event/eventServer.spec.ts
  packages/events/src/lib/events/custom-event/eventServer.ts
  packages/events/src/lib/events/custom-event/form.spec.ts
  packages/events/src/lib/events/custom-event/form.ts
  packages/events/src/lib/events/identity/identity.spec.ts
  packages/events/src/lib/events/identity/identity.ts
  packages/events/src/lib/events/identity/identityServer.spec.ts
  packages/events/src/lib/events/identity/identityServer.ts
  packages/events/src/lib/events/page-view/page-view-server.spec.ts
  packages/events/src/lib/events/page-view/page-view-server.ts
  packages/events/src/lib/events/page-view/page-view.spec.ts
  packages/events/src/lib/events/page-view/page-view.ts
  packages/events/src/lib/getGuestId/getGuestId.spec.ts
  packages/events/src/lib/getGuestId/getGuestId.ts
  packages/events/src/lib/init/browser/initializer.spec.ts
  packages/events/src/lib/init/browser/initializer.ts
  packages/events/src/lib/init/server/initializer.spec.ts
  packages/events/src/lib/init/server/initializer.ts
  packages/events/src/lib/initializer/browser/initializer.spec.ts
  packages/events/src/lib/initializer/browser/initializer.ts
  packages/events/src/lib/initializer/server/initializer.ts
  packages/events/src/lib/initializer/server/initiliazer.spec.ts
  packages/events/src/server.ts
  packages/personalize/src/lib/consts.ts
  packages/personalize/src/lib/initializer/server/initializer.spec.ts
  packages/personalize/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/personalization/personalizeServer.spec.ts
  packages/personalize/src/lib/personalization/personalizeServer.ts
Due: prettier --write

fix(search): CDK-618 entityView parameters mandatory when they should not (#366)
  packages/search/src/lib/events/entity-view-event.spec.ts
  packages/search/src/lib/events/entity-view-event.ts
  packages/search/src/lib/events/interfaces.ts
Due: prettier --write

feat(search): CDK-621 Export interfaces for all packages (incl. search) (#368)
  packages/search/src/browser.ts
  packages/search/src/server.ts
Due: prettier --write

feat: CDK-592 Preview search input form (#369)
  examples/nextjs/components/Header.tsx
  examples/nextjs/components/search/Preview.tsx
  examples/nextjs/components/search/Product.tsx
  examples/nextjs/components/search/SearchInput.tsx
  examples/nextjs/utils/debounce-search.ts
Due: prettier --write

refactor(search): CDK-614 Replace fields for attributes in our search interfaces (#367)
  examples/nextjs/app/page.tsx
  examples/nextjs/app/search/page.tsx
  integration-tests/search-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-e2e/src/integration/get-widget-data.feature
  integration-tests/search-next/app/api/get-recommendation-widget-data/route.ts
  integration-tests/search-next/app/get-recommendation-widget-data/page.tsx
  integration-tests/search-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search/src/lib/consts.ts
  packages/search/src/lib/request-entities/widgets/interfaces.ts
  packages/search/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

refactor(search): CDK-626 widgetSuggestionClick has filter property as mandatory (#372)
  packages/search/src/lib/events/interfaces.ts
  packages/search/src/lib/events/widget-suggestion-click-event.spec.ts
  packages/search/src/lib/events/widget-suggestion-click-event.ts
Due: prettier --write

chore: CDK-617 prepare the release for the search package (#370)
  .github/workflows/release.yml
  packages/search/package.json
Due: prettier -w

feat: CDK-593 Preview search - add suggestion blocks (#374)
  examples/nextjs/app/layout.tsx
  examples/nextjs/components/Header.tsx
  examples/nextjs/components/search/Preview.tsx
  examples/nextjs/components/search/SearchInput.tsx
  examples/nextjs/components/search/Suggestion.tsx
  examples/nextjs/context/Search.tsx
  examples/nextjs/utils/debounce-search.ts
Due: prettier --write

refactor(search): CDK-631 Export search response interfaces (#373)
  examples/nextjs/app/page.tsx
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/Products.tsx
  examples/nextjs/context/Cart.tsx
  examples/nextjs/types/index.ts
  packages/search/src/browser.ts
  packages/search/src/lib/requests/post-request.ts
  packages/search/src/server.ts
Due: prettier --write

feat: CDK-591 Product detail page (#376)
  examples/nextjs/app/checkout/page.tsx
  examples/nextjs/app/page.tsx
  examples/nextjs/app/product/[id]/page.tsx
  examples/nextjs/app/product/[slug]/page.tsx
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/ProductPage/review-rating.tsx
  examples/nextjs/components/Products.tsx
  examples/nextjs/components/Sidebar.tsx
  examples/nextjs/components/search/Product.tsx
  examples/nextjs/context/Cart.tsx
  examples/nextjs/types/index.ts
  examples/nextjs/utils/product-repository.ts
Due: prettier --write

feat(search): CDK-634 Remove context.ids property from search package (#377)
  packages/search/src/browser.ts
  packages/search/src/lib/request-entities/context/context.spec.ts
  packages/search/src/lib/request-entities/context/context.ts
  packages/search/src/lib/request-entities/context/interfaces.ts
  packages/search/src/server.ts
Due: prettier --write

chore: CDK-632 Update the README file of Search package (#375)
  packages/core/README.md
  packages/search/README.md
Due: prettier -w

chore: bumping package.json to new version: v.0.5.0-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat: CDK-591 Product detail page (#379)
  examples/nextjs/app/product/[id]/page.tsx
Due: prettier --write

test: CDK-520 Veracode checks failing when merging to master (#380)
  .github/workflows/veracode.yml
  integration-tests/personalize-e2e/src/integration/init.feature
  package-lock.json
Due: prettier -w

chore: CDK-635 Fix Installation Tests (#381)
  .github/workflows/installation-test-suite-new.yml
  .github/workflows/installation-test-suite.yml
  tools/testing_resources/installation-test/app-templates/next-app-old/middleware-template.txt
  tools/testing_resources/installation-test/app-templates/next-app-old/page-template.txt
  tools/testing_resources/installation-test/app-templates/next-app/page-template.tsx
Due: prettier --write

chore: bumping package.json to new version: v.0.5.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

refactor: CDK-641 Demo application is showing a blank page on first render (#385)
  examples/nextjs/app/global.css
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/postcss.config.js
  package-lock.json
  package.json
Due: prettier --write, prettier -w

feat: CDK-624 Use attributes values instead of facet ids for search results page (#384)
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/Listing/Sort.tsx
  packages/search/src/lib/requests/post-request.ts
Due: prettier --write

refactor(search): CDK-586 Add TSDoc to search-api on methods that do not have it (#386)
  packages/search/src/lib/events/entity-view-event.ts
  packages/search/src/lib/events/widget-facet-click-event.ts
  packages/search/src/lib/events/widget-item-click-event.ts
  packages/search/src/lib/events/widget-navigation-click-event.ts
  packages/search/src/lib/events/widget-suggestion-click-event.ts
  packages/search/src/lib/events/widget-view-event.ts
  packages/search/src/lib/initializer/browser/initializer.ts
  packages/search/src/lib/initializer/server/initializer.ts
  packages/search/src/lib/request-entities/context/context.ts
  packages/search/src/lib/request-entities/filters/base-filter.ts
  packages/search/src/lib/request-entities/filters/comparison-filter.ts
  packages/search/src/lib/request-entities/filters/facet/comparison-facet-filter.ts
  packages/search/src/lib/request-entities/filters/facet/list-facet-filter.ts
  packages/search/src/lib/request-entities/filters/facet/logical-facet-filter.ts
  packages/search/src/lib/request-entities/filters/facet/not-facet-filter.ts
  packages/search/src/lib/request-entities/filters/geo-filter.ts
  packages/search/src/lib/request-entities/filters/geo-within-filter.ts
  packages/search/src/lib/request-entities/filters/list-filter.ts
  packages/search/src/lib/request-entities/filters/logical-filter.ts
  packages/search/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search/src/lib/request-entities/widgets/rule-widget-item.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search/src/lib/request-entities/widgets/utils.ts
  packages/search/src/lib/request-entities/widgets/widget-item.ts
  packages/search/src/lib/request-entities/widgets/widget-request-data.ts
  packages/search/src/lib/requests/browser/get-page-widget-data.ts
  packages/search/src/lib/requests/browser/get-widget-data.ts
  packages/search/src/lib/requests/post-request.ts
  packages/search/src/lib/requests/server/entity-view-event-server.ts
  packages/search/src/lib/requests/server/get-page-widget-data-server.ts
  packages/search/src/lib/requests/server/get-widget-data-server.ts
  packages/search/src/lib/requests/server/widget-facet-click-event-server.ts
  packages/search/src/lib/requests/server/widget-item-click-event-server.ts
  packages/search/src/lib/requests/server/widget-navigation-click-event-server.ts
  packages/search/src/lib/requests/server/widget-suggestion-click-event-server.ts
  packages/search/src/lib/requests/server/widget-view-event-server.ts
Due: prettier --write

ci: CDK-643 Update Veracode workflow (#383)
  .github/workflows/veracode.yml
Due: none

feat(search): CDK-645 Add the version of Search package to the window object (#389)
  integration-tests/search-e2e/src/integration/init-client-side.feature
  integration-tests/search-e2e/src/integration/step_definitions/init.ts
  integration-tests/search-e2e/src/support/commands.ts
  integration-tests/search-next/app/init/page.tsx
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/search/src/lib/consts.ts
  packages/search/src/lib/initializer/browser/initializer.spec.ts
  packages/search/src/lib/initializer/browser/initializer.ts
Due: prettier --write

feat: CDK-676 Add strict mode to Veracode scan pipeline (#388)
  .github/workflows/veracode.yml
Due: none

chore: CDK-376 add useful info in pull request template (#390)
  .github/Pull_Request_Template.md
Due: prettier -w

refactor: CDK-648 Fix useEffect warnings in examples package searchpage (#391)
  examples/nextjs/app/page.tsx
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/components/Header.tsx
Due: prettier --write

chore(personalize): CDK-413 cloud sdk shouldnt autoset the geo property (#394)
  integration-tests/personalize-e2e/src/integration/geolocation.feature
  integration-tests/personalize-next/app/geolocation/page.tsx
  integration-tests/personalize-next/middleware.ts
  integration-tests/personalize-next/src/middlewares/geolocation.ts
  packages/personalize/src/lib/personalization/personalizeServer.spec.ts
  packages/personalize/src/lib/personalization/personalizeServer.ts
Due: prettier --write

chore: CDK-683 add code of conduct (#395)
  CODE_OF_CONDUCT.md
  README.md
Due: prettier -w

feat(search): CDK-512 Search disable_grouping (#393)
  integration-tests/search-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-next/app/get-search-widget-data/page.tsx
  packages/search/src/lib/request-entities/widgets/interfaces.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

chore: CDK-683 update email in code of conduct (#396)
  CODE_OF_CONDUCT.md
Due: prettier -w

ci: CDK-695 added issue templates and github action (#397)
  .github/DISCUSSION_TEMPLATE/Help.yml
  .github/DISCUSSION_TEMPLATE/Ideas.yml
  .github/ISSUE_TEMPLATE/1.bug_report.yml
  .github/ISSUE_TEMPLATE/2.docs_request.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/create-jira-issue.yml
Due: none

chore: Fixed issue template
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: CDK-695 Fixed github action (#401)
  .github/workflows/create-jira-issue.yml
Due: none

chore: CDK-695 format description with jira markdown (#403)
  .github/workflows/create-jira-issue.yml
Due: none
