Repository Sitecore/Cloud-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier -w

fix: CDK-549 Cannot read properties of undefined (reading guestId) during initialization (#317)
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.ts
  packages/personalize/src/lib/initializer/server/handleHttpCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleHttpCookie.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.spec.ts
  packages/personalize/src/lib/initializer/server/handleNextJsMiddlewareCookie.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.4.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat(search-api-client): CDK-531 search content property needs to support empty object (#318)
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  integration-tests/search-api-client-next/app/get-widget-data/page.tsx
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write

feat: CDK-550 siteName should be stored to window.scCloudSDK.core.settings object (#320)
  integration-tests/engage-e2e/src/integration/init-core.feature
  integration-tests/engage-e2e/src/integration/step_definitions/init-core.ts
  integration-tests/engage-e2e/src/integration/step_definitions/web-personalization.ts
  integration-tests/engage-e2e/src/integration/web-personalization.feature
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/browser/interfaces.ts
Due: prettier --write

fix: CDK-530 Search.groupBy field is not being sent properly to search API (#321)
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  package-lock.json
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write, prettier -w

feat(search-api-client): CDK-513 Added `recipe` property under `recommendations` object (#323)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
Due: prettier --write

fix(search-api-client): CDK-528 LogicalFacetFilter is supporting not as a valid operator (#325)
  integration-tests/cypress-utils/src/lib/commands/write-local.ts
  integration-tests/search-api-client-e2e/src/integration/get-page-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-page-widget-data.ts
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-widget-data.ts
  integration-tests/search-api-client-e2e/src/support/commands.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/interfaces.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/logical-facet-filter.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-529 Remove unnecessary `operator` field from `NotFacetFilter` (#326)
  integration-tests/search-api-client-e2e/src/integration/get-filtered-facet-widget-data.feature
  integration-tests/search-api-client-next/app/get-filtered-facet-widget-data/page.tsx
  packages/search-api-client/src/lib/request-entities/filters/facet/not-facet-filter.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/not-facet-filter.ts
Due: prettier --write

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: bumping package.json to new version: v.0.4.2 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

refactor(search-api-client): CDK-537 Re factor widget item properties for Search and Recommendation (#328)
  .vscode/settings.json
  integration-tests/search-api-client-next/app/api/get-filtered-widget-data/route.ts
  integration-tests/search-api-client-next/app/api/get-search-widget-data/route.ts
  integration-tests/search-api-client-next/app/api/get-widget-data/route.ts
  integration-tests/search-api-client-next/app/get-filtered-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-search-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-widget-data/page.tsx
  integration-tests/search-api-client-next/src/middlewares/get-filtered-widget-data.ts
  integration-tests/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/filters/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
  packages/search-api-client/src/server.ts
Due: prettier --write, prettier -w

feat(search-api-client): CDK-551 Modify `page` propety under context (#329)
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/context/context.spec.ts
  packages/search-api-client/src/lib/request-entities/context/context.ts
  packages/search-api-client/src/lib/request-entities/context/interfaces.ts
Due: prettier --write

feat(search-api-client): CDK-535 Search.sort option (#332)
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-next/app/get-search-widget-data/page.tsx
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-293 Questions and Answers Widget (#331)
  integration-tests/search-api-client-e2e/src/integration/get-questions-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-questions-widget-data.ts
  integration-tests/search-api-client-next/app/api/get-questions-widget-data/route.ts
  integration-tests/search-api-client-next/app/get-questions-widget-data/page.tsx
  integration-tests/search-api-client-next/middleware.ts
  integration-tests/search-api-client-next/src/middlewares/get-questions-widget-data.ts
  package-lock.json
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
  packages/search-api-client/src/server.ts
Due: prettier --write, prettier -w

test: CDK-526 Move the existing functionality and tests to the new core app (#322)
  integration-tests/core-e2e/src/integration/get-browser-id-client.feature
  integration-tests/core-e2e/src/integration/get-guest-id-client.feature
  integration-tests/core-e2e/src/integration/init-client.feature
  integration-tests/core-e2e/src/integration/init-server.feature
  integration-tests/core-e2e/src/integration/step_definitions/common.ts
  integration-tests/core-e2e/src/integration/step_definitions/get-guest-id.ts
  integration-tests/core-e2e/src/integration/step_definitions/init-client.ts
  integration-tests/core-e2e/src/integration/step_definitions/init-server.ts
  integration-tests/core-e2e/src/support/commands.ts
  integration-tests/core-e2e/tsconfig.json
  integration-tests/core-next/app/api/init-server/route.ts
  integration-tests/core-next/app/get-browser-id/page.tsx
  integration-tests/core-next/app/get-guest-id/page.tsx
  integration-tests/core-next/app/init/page.tsx
  integration-tests/core-next/middleware.ts
  integration-tests/core-next/next.config.js
  integration-tests/core-next/src/middlewares/init-server.ts
  integration-tests/core-next/tsconfig.json
  integration-tests/cypress-utils/package.json
  integration-tests/cypress-utils/src/lib/commands/index.ts
  integration-tests/cypress-utils/src/lib/steps/an-error-is-thrown-S.ts
  integration-tests/cypress-utils/src/lib/steps/index.ts
  integration-tests/cypress-utils/src/lib/steps/the-S-button-is-clicked.ts
Due: prettier --write, prettier -w

chore(search-api-client): CDK-565 Expose the WidgetItem only as an interface from search-api-client (#335)
  integration-tests/search-api-client-next/app/api/get-widget-data/route.ts
  integration-tests/search-api-client-next/app/get-widget-data/page.tsx
  integration-tests/search-api-client-next/src/middlewares/get-widget-data.ts
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat(search-api-client): CDK-538 Search.suggestion property (#334)
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-next/app/get-search-widget-data/page.tsx
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

chore(search-api-client): CDK-555 Create rules interface for widget request items (#336)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-widget-data.ts
  integration-tests/search-api-client-next/app/get-recommendation-widget-data/page.tsx
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/requests/browser/get-widget-data.ts
Due: prettier --write

feat: CDK-459 Integration with Search API and Unified Tracking (#333)
  examples/nextjs/app/page.tsx
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/AddToCartButton.tsx
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/components/FacetCheckbox.tsx
  examples/nextjs/components/Header.tsx
  examples/nextjs/components/Newsletter.tsx
  examples/nextjs/components/PriceTag.tsx
  examples/nextjs/components/Products.tsx
  examples/nextjs/next.config.js
  examples/nextjs/types/index.ts
Due: prettier --write

chore(search-api-client): CDK-563 Add a suffix to Search Events payload interfaces (#340)
  packages/search-api-client/src/lib/events/interfaces.ts
  packages/search-api-client/src/lib/events/widget-facet-click-event.ts
  packages/search-api-client/src/lib/events/widget-suggestion-click-event.ts
Due: prettier --write

feat(events): CDK-572 Add event functions under the events object in window (#339)
  integration-tests/events-e2e/src/integration/step_definitions/common.ts
  integration-tests/events-e2e/src/integration/step_definitions/init.ts
  integration-tests/personalize-e2e/src/integration/step_definitions/web-personalization.ts
  integration-tests/personalize-e2e/src/integration/web-personalization.feature
  packages/events/src/lib/initializer/browser/initializer.spec.ts
  packages/events/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.4.3 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: CDK-521 update github workflows to use the new apps (#338)
  .github/workflows/pr.yml
  integration-tests/core-e2e/src/integration/get-browser-id-client.feature
  integration-tests/events-e2e/src/integration/event.feature
  integration-tests/events-e2e/src/integration/identity.feature
  integration-tests/events-e2e/src/integration/init.feature
  integration-tests/events-e2e/src/integration/miscellaneous-requested-at.feature
  integration-tests/events-e2e/src/integration/miscellaneous-software-id.feature
  integration-tests/events-e2e/src/integration/page-view.feature
  integration-tests/events-e2e/src/integration/step_definitions/common.ts
  integration-tests/events-e2e/src/integration/step_definitions/miscellaneous-requested-at.ts
  integration-tests/events-next/src/app/api/event/route.ts
  integration-tests/events-next/src/app/api/identity/route.ts
  integration-tests/events-next/src/app/api/miscellaneous-requested-at/route.ts
  integration-tests/events-next/src/app/api/miscellaneous-software-id/route.ts
  integration-tests/events-next/src/app/api/page-view/route.ts
  integration-tests/events-next/src/utils/getCustomRRObjects.ts
  integration-tests/personalize-e2e/src/integration/create-cookie.feature
  package.json
Due: prettier --write, prettier -w

feat(search-api-client): CDK-569 Add getters for widget item properties (#345)
  package-lock.json
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write, prettier -w

refactor(search-api-client): CDK-564 Rename rfkid to widget in CloudSdk public contracts (#346)
  integration-tests/search-api-client-e2e/src/integration/get-filtered-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-questions-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-widget-data.ts
  integration-tests/search-api-client-next/app/get-filtered-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-questions-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-recommendation-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-search-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-widget-data/page.tsx
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
  packages/search-api-client/src/lib/requests/browser/get-widget-data.spec.ts
  packages/search-api-client/src/lib/requests/server/get-widget-data-server.spec.ts
Due: prettier --write

feat(personalize): CDK-193 Make currency field optional for personalize (#347)
  integration-tests/personalize-next/app/personalize/page.tsx
  packages/personalize/src/lib/personalization/personalizer.ts
  packages/personalize/src/lib/personalization/send-call-flows-request.ts
Due: prettier --write

chore: CDK-574 fix installation tests suite (#348)
  .github/workflows/installation-test-suite-new.yml
  tools/testing_resources/installation-test/app-templates/next-app/middleware-template.ts
  tools/testing_resources/installation-test/app-templates/next-app/middleware-template.txt
  tools/testing_resources/installation-test/app-templates/next-app/page-template.tsx
  tools/testing_resources/installation-test/app-templates/next-app/page-template.txt
  tools/testing_resources/installation-test/cypress-template/cypress/e2e/sanity-test-template.ts
  tools/testing_resources/installation-test/cypress-template/cypress/e2e/sanity-test-template.txt
Due: prettier --write

feat(personalize): CDK-580 Expose the personalize() function to the window.scCloudSDK.personalize namespace (#351)
  integration-tests/personalize-e2e/src/integration/step_definitions/web-personalization.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
Due: prettier --write

feat(search-api-client): CDK-568 getPageWidgetData should receive a context (#349)
  integration-tests/search-api-client-e2e/src/integration/get-page-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-page-widget-data.ts
  integration-tests/search-api-client-next/app/api/get-page-widget-data/route.ts
  integration-tests/search-api-client-next/app/get-page-widget-data/page.tsx
  integration-tests/search-api-client-next/src/middlewares/get-page-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/context/context.spec.ts
  packages/search-api-client/src/lib/request-entities/context/context.ts
  packages/search-api-client/src/lib/requests/browser/get-page-widget-data.spec.ts
  packages/search-api-client/src/lib/requests/browser/get-page-widget-data.ts
  packages/search-api-client/src/lib/requests/server/get-page-widget-data-server.spec.ts
  packages/search-api-client/src/lib/requests/server/get-page-widget-data-server.ts
Due: prettier --write

feat(search-api-client): CDK-310 Search.ranking and Search.personalization (#350)
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-next/app/get-search-widget-data/page.tsx
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-438 Facet type filtering options (#353)
  integration-tests/search-api-client-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-api-client-next/app/api/get-search-widget-data/route.ts
  integration-tests/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat: CDK-590 Search Page - Add pagination for the results (#355)
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/Listing/Pagination.tsx
  examples/nextjs/components/Listing/PaginationLoadMore.tsx
Due: prettier --write

feat: CDK-587 search page a facet click should update the filters (#354)
  examples/nextjs/app/search/page.tsx
Due: prettier --write

feat(search-api-client): CDK-558 Add rule support to `QuestionsAnswersWidgetItem` and introduce `RuleWidgetItem` (#352)
  integration-tests/search-api-client-e2e/src/integration/get-questions-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-rules-widget-data.ts
  integration-tests/search-api-client-next/app/api/get-questions-widget-data/route.ts
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/rule-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/rule-widget-item.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat: CDK-589 Search Page - Add a select with the sorting options (#357)
  examples/nextjs/app/search/page.tsx
  examples/nextjs/components/Listing/Sort.tsx
Due: prettier --write

fix(core): CDK-505 Process not defined using vite + react application (#358)
  packages/core/src/lib/debug/debug.spec.ts
  packages/core/src/lib/debug/debug.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
