Repository Sitecore/Cloud-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier -w

chore: CDK-700 added contributing file (#406)
  CONTRIBUTING.md
  README.md
Due: prettier -w

chore: CDK-699 removed docs folder (#407)
  docs/adr/0001-recording-decisions-using-architecural-decision-records-(adr).md
  docs/adr/0002-mutation-testing-using-strykerjs.md
  docs/adr/0003-server-set-cookies-from-npm-package.md
  docs/adr/0004-format-commit-messages-with-conventional-commits.md
  docs/coding-best-practices/fedex-coding-best-practices.md
  docs/how-to/0001-how-to-mutation-testing-using-strykerjs.md
  docs/how-to/0002-how-to-add-a-new-e2e-test.md
  docs/how-to/0003-commit_message_guidelines.md
  docs/how-to/0004-publishing-packages.md
Due: prettier -w

chore: bumping package.json to new version: v.0.5.1-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.5.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat: CDK-744 added support for sources (#411)
  integration-tests/search-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-e2e/src/integration/step_definitions/get-widget-data.ts
  integration-tests/search-next/app/api/get-search-widget-data/route.ts
  integration-tests/search-next/app/get-search-widget-data/page.tsx
  integration-tests/search-next/src/middlewares/get-search-widget-data.ts
  packages/search/src/lib/request-entities/widgets/interfaces.ts
  packages/search/src/lib/request-entities/widgets/questions-answers-widget-item.ts
  packages/search/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search/src/lib/request-entities/widgets/results-widget-item.ts
  packages/search/src/lib/request-entities/widgets/rule-widget-item.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write

feat(search): CDK-741 response context (#412)
  integration-tests/search-e2e/src/integration/get-search-widget-data.feature
  integration-tests/search-next/app/api/get-search-widget-data/route.ts
  integration-tests/search-next/src/middlewares/get-search-widget-data.ts
  packages/search/src/lib/request-entities/widgets/interfaces.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.5.2-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.5.2 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix(search): CDK-748 added context for getWidgetData server (#415)
  integration-tests/search-e2e/src/integration/get-widget-data.feature
  integration-tests/search-next/src/middlewares/get-widget-data.ts
  packages/search/src/lib/requests/server/get-widget-data-server.ts
  packages/search/stryker.conf.js
Due: prettier --write

chore(search): CDK-748 tsdocs (#416)
  packages/search/src/lib/requests/browser/get-widget-data.ts
  packages/search/src/lib/requests/server/get-widget-data-server.ts
Due: prettier --write

chore: updated tsdoc (#418)
  packages/search/src/lib/requests/server/get-widget-data-server.ts
Due: prettier --write

chore: bumping package.json to new version: v.0.5.3-rc.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.5.4 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: changed nx default branch to main
  nx.json
Due: prettier -w

chore: ci adjustments
  .github/workflows/pr.yml
  .github/workflows/veracode.yml
  jest.preset.js
  package.json
  packages/core/jest.config.ts
  packages/events/jest.config.ts
  packages/personalize/jest.config.ts
  packages/search/jest.config.ts
  packages/utils/jest.config.ts
Due: prettier --write, prettier -w

chore: changed main branch
  .github/workflows/pr.yml
Due: none

chore: updated pr title check
  .github/workflows/pr.yml
Due: none

chore: replaced main branch on gh action
  .github/workflows/pr.yml
Due: none

chore(core): added missing test for initialize function
  packages/core/src/lib/initializer/server/initializer.spec.ts
Due: prettier --write

chore: ci updates
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: prettier -w

chore: jira integration
  .github/ISSUE_TEMPLATE/config.yml
Due: none

chore: added license and updated readme
  LICENSE.md
  README.md
Due: prettier -w

fix: updated gh action
  .github/workflows/release.yml
Due: none

fix: updated gh action (#7)
  .github/workflows/release.yml
Due: none

chore: bumping package.json to new version: v.0.5.6-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search/CHANGELOG.md
  packages/search/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

fix: esm-only compatibility support issue #9
  package-lock.json
  packages/core/browser.js
  packages/core/internal.js
  packages/core/package.json
  packages/core/server.js
  packages/events/browser.js
  packages/events/package.json
  packages/events/server.js
  packages/personalize/browser.js
  packages/personalize/package.json
  packages/personalize/server.js
  packages/search/browser.js
  packages/search/package.json
  packages/search/server.js
  packages/utils/package.json
Due: prettier --write, prettier -w

feat: added language for personalize webflows
  examples/nextjs/components/Cloudsdk.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/interfaces.ts
Due: prettier --write

chore: added unit test for language property
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
Due: prettier --write

Update CODEOWNERS to include new owner
  .github/CODEOWNERS
Due: none

Add new code owner
  .github/CODEOWNERS
Due: none

feat: added language for personalize webflows (#11)
  examples/nextjs/components/Cloudsdk.ts
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/interfaces.ts
Due: prettier --write

feat: added language to webflows on 0.4.x
  examples/nextjs/app/global.css
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/postcss.config.js
  package-lock.json
  package.json
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/interfaces.ts
Due: prettier --write, prettier -w

Add environment to publish NPM packages job
  .github/workflows/release.yml
Due: none

feat: added language to webflows on 0.4.x (#12)
  examples/nextjs/app/global.css
  examples/nextjs/components/Cloudsdk.ts
  examples/nextjs/postcss.config.js
  package-lock.json
  package.json
  packages/personalize/src/lib/initializer/browser/initializer.spec.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
  packages/personalize/src/lib/initializer/browser/interfaces.ts
Due: prettier --write, prettier -w

chore: bumping package.json to new version: v.0.4.5-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.4.5 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

Update copyright year and owner in LICENSE.md
  LICENSE.md
Due: prettier -w

feat: renamed cookie
  packages/core/src/lib/initializer/browser/initializer.spec.ts
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/core/src/lib/initializer/server/initializer.spec.ts
  packages/core/src/lib/initializer/server/initializer.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
