Repository Sitecore/Cloud-SDK: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier -w

feat(search-api-client): CDK-442 Facet type "name" (#276)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/filters/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-436 Facet type exclude (#277)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
Due: prettier --write

feat(search-api-client): CDK-440 Facet type "max" (#279)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

docs: CDK-487 Review Readme files for 0.4 release (#280)
  packages/core/README.md
  packages/events/README.md
  packages/personalize/README.md
Due: prettier -w

feat(search-api-client): CDK-439 Facet type "keyphrase" (#281)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-441 Facet type "min_count" (#283)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/app/get-search-widget-data/page.tsx
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat: CDK-443 Add facet type `sort` (#285)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat(events): CDK-491 Update form(formId, interactionType) to accept three params (#286)
  apps/engage-e2e/src/integration/send-form-event.feature
  apps/engage-next/pages/form.tsx
  apps/engage-next/pages/requested-at.tsx
  apps/search-api-client-next/app/page.tsx
  packages/events/src/lib/events/custom-event/form.spec.ts
  packages/events/src/lib/events/custom-event/form.ts
  packages/personalize/src/lib/initializer/browser/initializer.ts
Due: prettier --write

feat(search-api-client): CDK-434 facet type after (#287)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-347 facet type `filter` (#288)
  apps/search-api-client-e2e/src/integration/get-search-widget-data.feature
  apps/search-api-client-next/app/api/get-search-widget-data/route.ts
  apps/search-api-client-next/src/middlewares/get-search-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
Due: prettier --write

chore: CDK-0000 Remove parallelization from release workflow (#290)
  .github/workflows/release.yml
Due: none

chore: CDK-0000 Remove parallelization from release workflow (#291)
  .github/workflows/release.yml
Due: none

chore: CDK-0000 Remove parallelization from release workflow (#292)
  .github/workflows/release.yml
Due: none

chore: bumping package.json to new version: v.0.4.0-rc.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat(search-api-client): CDK-493 Facet Type - ComparisonFacetFilter (#289)
  apps/search-api-client-e2e/src/integration/get-filtered-facet-widget-data.feature
  apps/search-api-client-e2e/src/integration/step_definitions/get-filtered-facet-widget-data.ts
  apps/search-api-client-next/app/get-filtered-facet-widget-data/page.tsx
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/comparison-facet-filer.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/comparison-facet-filter.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/search-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/utils.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/utils.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat(search-api-client): CDK-502 improve interface and property names (#294)
  apps/search-api-client-e2e/src/integration/widget-facet-click-event.feature
  apps/search-api-client-e2e/src/integration/widget-item-click-event.feature
  apps/search-api-client-e2e/src/integration/widget-navigation-click-event.feature
  apps/search-api-client-e2e/src/integration/widget-suggestion-click-event.feature
  apps/search-api-client-e2e/src/integration/widget-view.feature
  apps/search-api-client-next/app/widget-facet-click-event/page.tsx
  apps/search-api-client-next/app/widget-item-click-event/page.tsx
  apps/search-api-client-next/app/widget-navigation-click-event/page.tsx
  apps/search-api-client-next/app/widget-suggestion-click-event/page.tsx
  apps/search-api-client-next/app/widget-view/page.tsx
  apps/search-api-client-next/src/middlewares/widget-facet-click-event.ts
  apps/search-api-client-next/src/middlewares/widget-item-click-event.ts
  apps/search-api-client-next/src/middlewares/widget-navigation-click-event.ts
  apps/search-api-client-next/src/middlewares/widget-suggestion-click-event.ts
  apps/search-api-client-next/src/middlewares/widget-view.ts
  packages/search-api-client/src/lib/events/entity-view-event.ts
  packages/search-api-client/src/lib/events/interfaces.ts
  packages/search-api-client/src/lib/events/widget-facet-click-event.spec.ts
  packages/search-api-client/src/lib/events/widget-facet-click-event.ts
  packages/search-api-client/src/lib/events/widget-item-click-event.spec.ts
  packages/search-api-client/src/lib/events/widget-item-click-event.ts
  packages/search-api-client/src/lib/events/widget-navigation-click-event.spec.ts
  packages/search-api-client/src/lib/events/widget-navigation-click-event.ts
  packages/search-api-client/src/lib/events/widget-suggestion-click-event.spec.ts
  packages/search-api-client/src/lib/events/widget-suggestion-click-event.ts
  packages/search-api-client/src/lib/events/widget-view-event.spec.ts
  packages/search-api-client/src/lib/events/widget-view-event.ts
  packages/search-api-client/src/lib/requests/browser/widget-facet-click-event.spec.ts
  packages/search-api-client/src/lib/requests/browser/widget-item-click-event.spec.ts
  packages/search-api-client/src/lib/requests/browser/widget-navigation-click-event.spec.ts
  packages/search-api-client/src/lib/requests/browser/widget-navigation-click-event.ts
  packages/search-api-client/src/lib/requests/browser/widget-suggestion-click-event.spec.ts
  packages/search-api-client/src/lib/requests/browser/widget-view-event.spec.ts
  packages/search-api-client/src/lib/requests/server/widget-facet-click-event-server.spec.ts
  packages/search-api-client/src/lib/requests/server/widget-item-click-event-server.spec.ts
  packages/search-api-client/src/lib/requests/server/widget-navigation-click-event-server.spec.ts
  packages/search-api-client/src/lib/requests/server/widget-navigation-click-event-server.ts
  packages/search-api-client/src/lib/requests/server/widget-suggestion-click-event-server.spec.ts
  packages/search-api-client/src/lib/requests/server/widget-view-event-server.spec.ts
Due: prettier --write

feat(search-api-client): CDK-494 Facet Type - LogicalFacetFilter (#295)
  apps/search-api-client-e2e/src/integration/get-filtered-facet-widget-data.feature
  apps/search-api-client-e2e/src/integration/step_definitions/get-filtered-facet-widget-data.ts
  apps/search-api-client-next/app/get-filtered-facet-widget-data/page.tsx
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/comparison-facet-filter.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/interfaces.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/logical-facet-filter.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/logical-facet-filter.ts
  packages/search-api-client/src/lib/request-entities/filters/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat(search-api-client): CDK-495 Add `NotFacetFilter` (#297)
  apps/search-api-client-e2e/src/integration/get-filtered-facet-widget-data.feature
  apps/search-api-client-next/app/get-filtered-facet-widget-data/page.tsx
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/interfaces.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/not-facet-filter.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/not-facet-filter.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat(search-api-client): CDK-492 facet type of facet filter (#296)
  apps/search-api-client-e2e/src/integration/get-filtered-facet-widget-data.feature
  apps/search-api-client-next/app/get-filtered-facet-widget-data/page.tsx
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/interfaces.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/list-facet-filer.spec.ts
  packages/search-api-client/src/lib/request-entities/filters/facet/list-facet-filter.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

fix: CDK-517 Fix the exports field of Core package for internal module (#299)
  apps/engage-e2e/src/integration/init-core.feature
  packages/core/package.json
Due: prettier -w

chore: bumping package.json to new version: v.0.4.0-rc.1 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

test: update e2e test for core version
  apps/engage-e2e/src/integration/init-core.feature
Due: none

feat: CDK-518 Update what the events package add to the window object (#301)
  apps/engage-e2e/src/integration/init-core.feature
  apps/engage-e2e/src/integration/step_definitions/init-core.ts
  apps/engage-e2e/src/support/commands.ts
  apps/engage-next/pages/index.tsx
  packages/core/src/lib/initializer/browser/initializer.ts
  packages/events/src/lib/initializer/browser/initializer.spec.ts
  packages/events/src/lib/initializer/browser/initializer.ts
Due: prettier --write

docs: CDK-519 Document the release pipeline (#303)
  docs/how-to/0004-publishing-packages.md
Due: prettier -w

chore: bumping package.json to new version: v.0.4.0 [skip ci]
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/events/CHANGELOG.md
  packages/events/package.json
  packages/personalize/CHANGELOG.md
  packages/personalize/package.json
  packages/search-api-client/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier -w

feat(search-api-client): CDK-433 search with context property (#306)
  apps/search-api-client-e2e/src/integration/get-filtered-widget-data.feature
  apps/search-api-client-e2e/src/integration/get-widget-data.feature
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/context/context.spec.ts
  packages/search-api-client/src/lib/request-entities/context/context.ts
  packages/search-api-client/src/lib/request-entities/context/interfaces.ts
Due: prettier --write

feat(search-api-client): CDK-507 recommendation main property (#305)
  apps/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  apps/search-api-client-next/app/api/get-recommendation-widget-data/route.ts
  apps/search-api-client-next/app/get-recommendation-widget-data/page.tsx
  apps/search-api-client-next/middleware.ts
  apps/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search-api-client/src/browser.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
  packages/search-api-client/src/server.ts
Due: prettier --write

feat(search-api-client): CDK-431 Add user property to search context (#302)
  apps/search-api-client-e2e/src/integration/get-widget-data.feature
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/context/context.spec.ts
  packages/search-api-client/src/lib/request-entities/context/context.ts
  packages/search-api-client/src/lib/request-entities/context/interfaces.ts
Due: prettier --write

feat(search-api-client): CDK-432 search context with ids property (#310)
  integration-tests/search-api-client-e2e/src/integration/get-widget-data.feature
  packages/search-api-client/src/lib/request-entities/context/context.spec.ts
  packages/search-api-client/src/lib/request-entities/context/context.ts
  packages/search-api-client/src/lib/request-entities/context/interfaces.ts
Due: prettier --write

feat: CDK-470 Create a common-utils dir for the respective Cypress projects (#311)
  .github/workflows/pr.yml
  babel.config.json
  integration-tests/cypress-utils/.eslintrc.json
  integration-tests/cypress-utils/package.json
  integration-tests/cypress-utils/project.json
  integration-tests/cypress-utils/src/index.ts
  integration-tests/cypress-utils/src/lib/commands/get-log-output.ts
  integration-tests/cypress-utils/src/lib/commands/index.ts
  integration-tests/cypress-utils/src/lib/commands/read-local.ts
  integration-tests/cypress-utils/src/lib/commands/write-local.ts
  integration-tests/cypress-utils/src/lib/load-commands.ts
  integration-tests/cypress-utils/src/lib/load-steps.ts
  integration-tests/cypress-utils/src/lib/steps/index.ts
  integration-tests/cypress-utils/src/lib/steps/the-S-button-is-clicked.ts
  integration-tests/cypress-utils/tsconfig.cjs.json
  integration-tests/cypress-utils/tsconfig.json
  integration-tests/engage-e2e/src/integration/step_definitions/common.ts
  integration-tests/engage-e2e/src/support/commands.ts
  integration-tests/engage-e2e/tsconfig.json
  integration-tests/search-api-client-e2e/src/integration/step_definitions/common.ts
  integration-tests/search-api-client-e2e/src/support/commands.ts
  integration-tests/search-api-client-e2e/tsconfig.json
  tsconfig.base.json
  tsconfig.build.cjs.json
  tsconfig.build.esm.json
Due: prettier --write, prettier -w

feat(search-api-client): CDK-508 recommendation content property (#312)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-e2e/src/integration/step_definitions/get-recommendation-widget-data.ts
  integration-tests/search-api-client-next/app/api/get-recommendation-widget-data/route.ts
  integration-tests/search-api-client-next/app/get-recommendation-widget-data/page.tsx
  integration-tests/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-50 Recommendation filter property (#313)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-next/app/get-filtered-widget-data/page.tsx
  integration-tests/search-api-client-next/app/get-recommendation-widget-data/page.tsx
  integration-tests/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  integration-tests/search-api-client-next/src/utils.ts
  packages/search-api-client/src/lib/request-entities/filters/geo-filter.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-510 recommendation group by (#314)
  .vscode/settings.json
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
Due: prettier --write, prettier -w

feat(search-api-client): CDK-511 Recommendation limit (#315)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  integration-tests/search-api-client-next/src/middlewares/get-recommendation-widget-data.ts
  packages/search-api-client/src/lib/request-entities/widgets/interfaces.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
Due: prettier --write

feat(search-api-client): CDK-510 recommendation group by (#316)
  integration-tests/search-api-client-e2e/src/integration/get-recommendation-widget-data.feature
  packages/search-api-client/src/lib/consts.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.spec.ts
  packages/search-api-client/src/lib/request-entities/widgets/recommendation-widget-item.ts
Due: prettier --write

Path conditions:
  prettier --write: any of: **/*.{js,jsx,ts,tsx}
  prettier -w: any of: **/*.{html,json,css,scss,md,mdx}
